<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %} App Name {% endblock %}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


</head>
<body>

<nav class="navbar navbar-default">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {% block navbar-nav %}
        <li class="active"><a href="/">Sites</a></li>
        <li><a href="{% url 'summary' %}">Summary</a></li>
        <li><a href="https://github.com/veduardo">Code</a></li>
        {% endblock %}
      </ul>
    </div>
</nav>

<div class="container">
  <div>
  {% block content %}

  {% endblock %}
  </div>
</div>

</body>
</html>